body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-color: steelblue;
    color: white;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.form-group {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-group input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: white;
}

.form-group input:focus,
.form-group input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-family: inherit;
    background-color: lightblue;
    border: 0;
    border-radius: 5px;
}

button:focus {
    outline: 0;
}

button:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-group label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-group label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-group input:focus + label span,
.form-group input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
}

@media screen and ( max-width: 769px ) {
    .container {
        padding: 5%;
    }
}